---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Nombre'
    value: page.label
  - label: 'Enlace principal'
    value: page.enlace_principal
    type:  link
  - label: 'Enlace adicional'
    value: page.enlace_adicional
    type:  link
  - label: 'Descripción'
    value: page.descripcion
  - label: 'Ubicación actual'
    value: page.ubicacion_actual
  - label: 'Creadores'
    value: page.creators
  - label: 'Información de contacto'
    value: page.informacion_de_contacto
  - label: 'Facebook'
    value: page.facebook
    type:  link
  - label: 'Twitter'
    value: page.twitter
    type:  link
  - label: 'Instagram'
    value: page.instagram
    type:  link
  - label: 'Estatus'
    value: page.estatus
---
