---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Nombre'
    value: page.label
  - label: 'Enlace principal'
    value: page.liga_principal
    type:  link
  - label: 'Enlace adicional'
    value: page.liga_adicional
    type:  link
  - label: 'Descripción'
    value: page.descripción
  - label: 'Creadores'
    value: page.creadorxs
  - label: 'Información de contacto'
    value: page.información_de_contacto
  - label: 'Facebook'
    value: page.facebook
    type:  link
  - label: 'Twitter'
    value: page.twitter
    type:  link
  - label: 'Instagram'
    value: page.instagram
    type:  link
  - label: 'Estatus'
    value: page.estatus
---
